$my-app-background-color: #6495ED;
$toolbar-height: 64px;
$app-font-size: 12px;

$padding : 12px;
$padding-sm : $padding * 0.75;
$padding-xs : $padding * 0.5;
$padding-lg : $padding * 1.5;
$padding-xl : $padding * 2;
